{% extends 'main/base.html' %}
{% block content %}
    <form method="post" class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                {% csrf_token %}
                <p> Действительно хотите удалить рассылку {{ object.subject }}</p>
                <button type="submit" class="btn-outline-danger">
                    Удалить
                </button>
                <a class="btn-outline-warning" href="{% url 'main:mailing_detail' object.pk %}">Отмена</a>
            </div>
        </div>
    </div>
{% endblock %}